.dart_tool/
.packages
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
pubspec.lock
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
